:root {
  --purpley-pink: #c445ad;
  --blue-dark: #252056;
  --font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}


.side-bar {
  background-color: var(--blue-dark);
}

.side-bar ul {
  width: 135px;
  height: 282px;
}

.side-bar ul li a {
  width: 135px;
  height: 18px;
  font-size: 14px;
  color: #ffffff;
}

.container {
  max-width: 1280px;
}

header nav {
  min-width: 24px;
}

nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: var(--blue-dark);
}

.slider-container {
  width: 247px;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  width: 247px;
  height: 9px;
  border-radius: 10.5px;
  background-color: rgba(0, 0, 0, 0.16);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--purpley-pink);
  cursor: pointer;
  width: 21.9px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.animation-title {
  color: var(--blue-dark);
}

.animation-headline {
  color: var(--blue-dark);
}

.animation-text a {
  border-radius: 32px;
  box-shadow: 0 0 30px 0 rgba(39, 60, 74, 0.31);
}

.github-span {
  color: var(--purpley-pink);
}

.what-you-can-do-title {
  color: var(--blue-dark);
}

.what-can-you-do-top hr {
  border-radius: 13.5px;
  background-color: #d7d7d7;
  margin: 0;
}

.what-can-you-do-article-title,
.runtime-control-article-title,
.powerful-api-article-title {
  color: var(--blue-dark);
}

.what-can-you-do-article-text,
.runtime-control-article-text,
.powerful-api-article-text {
  color: var(--blue-dark);
}

.milky-way-section,
.planet-earth-section,
.space-section {
  height: 367px;
}

.milky-way-section nav li {
  height: 18px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bold;
  color: var(--blue-dark);
}

.milky-way-section nav li span {
  margin-right: 24px;
}

.milky-way-editor-container,
.planet-earth-editor-container,
.space-editor-container {
  background-color: #1d1e21;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* .tabs span {
  color: #1d1e21;
} */

.tabcontent::-webkit-scrollbar {
  width: 5px;
  height: 125px;
  border-radius: 2.5px;
}

.tabcontent::-webkit-scrollbar-track {
  background-color: #1d1e21;
}

.tabcontent::-webkit-scrollbar-thumb {
  background-color: #656976;
}

.tabcontent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabcontent {
  height: 80%;
}

.milky-way-img-container {
  background-image: -webkit-linear-gradient(-14deg,
      transparent 16%,
      #ffffff 16%);
}

.planet-earth-img-container {
  background-image: -webkit-linear-gradient(-9deg,
      #ffffff 90%,
      transparent 90%);
}

.space-img-comtainer {
  background-image: -webkit-linear-gradient(80deg,
      transparent 12%,
      #1d1e21 10%);
}

.space-img {
  width: 55%;
  height: 156%;
  transform: rotate(90deg);
}

.milky-way-img,
.planet-earth-img {
  width: 241px;
  height: 235px;
  object-fit: contain;
}

.explore-section-title {
  color: var(--blue-dark);
}

.explore-section hr {
  border-radius: 13.5px;
}

.explore-section a {
  width: 272px;
  height: 52px;
  box-shadow: 0 0 8px -24px rgba(37, 32, 86, 0.2);
  background-color: var(--purpley-pink);
}

.build-strong-basis-title {
  color: var(--blue-dark);
}

.build-strong-basis-section hr {
  background-color: #d7d7d7;
}

.build-strong-basis-section figure {
  height: 314px;
  border-radius: 26px;
  box-shadow: 0 1px 53px 5px rgba(37, 32, 85, 0.21);
}

.build-strong-basis-section-inner {
  width: 901px;
  height: 850px;
}

.build-strong-basis-section-inner>div {
  width: 257px;
}

.build-strong-basis-section-inner img {
  margin-bottom: 24px;
}

.build-strong-basis-section-inner figcaption {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.build-strong-basis-section-inner figcaption h5 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--blue-dark);
  margin-bottom: 16px;
}

.build-strong-basis-section-inner figcaption p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #656565;
}

.whats-different-section {
  background: var(--blue-dark);
}

.whats-different-section hr {
  width: 161px;
}

.whats-different-section a {
  width: 272px;
  height: 52px;
  box-shadow: 0 0 27px 0 rgba(37, 32, 86, 0.2);
}

.Check-the-Motorcorte {
  width: 239px;
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--purpley-pink);
}

.details-title {
  color: var(--blue-dark);
}

.details-section a {
  box-shadow: 0 0 27px 0 rgba(37, 32, 86, 0.2);
}

.comunity-github-link-text {
  color: #225fb1;
}

.detail-items>div>span:first-of-type {
  background-color: #2e3033;
}


.Created-with {
  width: 109px;
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--blue-dark);
}

.by {
  width: 21px;
  height: 19px;
  transform: rotate(-360deg);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-dark);
}

@media (min-width: 768px) {
  .side-bar {
    display: none;
  }

  .burger {
    display: none;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a {
    font-size: 14px;
    margin-right: 24px;
  }

  header nav ul li a:last-child {
    margin-right: 12px;
  }

  .The-animation {
    flex-flow: row;
    justify-content: space-between;
  }

  .animation-slider {
    order: 1;
  }

  .animation-text {
    order: 0;
  }

  .animation-headline {
    width: 238px;
    font-size: 16px;
    text-align: left;
  }

  .what-can-you-do-top {
    margin-top: 24px;
  }

  .what-you-can-do-title {
    width: 635px;
  }

  .what-can-you-do-top hr {
    width: 200px;
  }

  .Simple-syntax-attra {
    width: 510px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .main-header {
    height: 30px;
  }

  .logo-container {
    width: 240px;
  }

  .logo-text {
    height: 21px;
  }

  .main-header nav li a {
    font-size: 16px;
  }

  .what-can-you-do-article-text {
    width: 640px;
  }

  .runtime-control-article-text,
  .powerful-api-article-text {
    width: 590px;
  }
}