* {
  box-sizing: border-box;
}

:root {
  --purpley-pink: #c445ad;
  --blue-dark: #252056;
  --font-family: 'Montserrat', sans-serif;
}

.side-bar {
  background-color: var(--blue-dark);
}

.side-bar ul {
  width: 135px;
  height: 282px;
}

.side-bar ul li a {
  width: 135px;
  height: 18px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.container {
  max-width: 1280px;
}

header nav {
  min-width: 24px;
}

nav ul li a {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  color: var(--blue-dark);
}

.slider-container {
  width: 247px;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  width: 247px;
  height: 9px;
  border-radius: 10.5px;
  background-color: rgba(0, 0, 0, 0.16);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--purpley-pink);
  cursor: pointer;
  width: 21.9px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.animation-title {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.animation-headline {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.animation-text a {
  border-radius: 32px;
  box-shadow: 0 0 30px 0 rgba(39, 60, 74, 0.31);
}

.github-span {
  font-family: var(--font-family);
  color: var(--purpley-pink);
}

.what-you-can-do-title {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.what-can-you-do-top hr {
  border-radius: 13.5px;
  background-color: #d7d7d7;
  margin: 0;
}

.what-can-you-do-article-title,
.runtime-control-article-title,
.powerful-api-article-title {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.what-can-you-do-article-text,
.runtime-control-article-text,
.powerful-api-article-text {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.milky-way-section,
.planet-earth-section,
.space-section {
  height: 367px;
}

.milky-way-section nav li {
  height: 18px;
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: bold;
  color: var(--blue-dark);
}

.milky-way-section nav li span {
  margin-right: 24px;
}

.milky-way-editor-container,
.planet-earth-editor-container,
.space-editor-container {
  background-color: #1d1e21;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* .tabs span {
  color: #1d1e21;
} */

.tabcontent::-webkit-scrollbar {
  width: 5px;
  height: 125px;
  border-radius: 2.5px;
}

.tabcontent::-webkit-scrollbar-track {
  background-color: #1d1e21;
}

.tabcontent::-webkit-scrollbar-thumb {
  background-color: #656976;
}

.tabcontent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabcontent {
  height: 80%;
}

.milky-way-img-container {
  background-image: -webkit-linear-gradient(
    -14deg,
    transparent 16%,
    #ffffff 16%
  );
}

.planet-earth-img-container {
  background-image: -webkit-linear-gradient(
    -9deg,
    #ffffff 90%,
    transparent 90%
  );
}

.space-img-comtainer {
  background-image: -webkit-linear-gradient(
    80deg,
    transparent 12%,
    #1d1e21 10%
  );
}

.space-img {
  width: 55%;
  height: 156%;
  transform: rotate(90deg);
}

.milky-way-img,
.planet-earth-img {
  width: 241px;
  height: 235px;
  object-fit: contain;
}

.tap-text {
  font-family: var(--font-family);
}

.explore-section-title {
  font-family: var(--font-family);
  color: var(--blue-dark);
}

.browse-librady-title {
  font-family: var(--font-family);
}

.explore-section hr {
  border-radius: 13.5px;
}

.t {
  width: 244px;
  height: 54px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.explore-section a {
  width: 272px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 31.5px;
  box-shadow: 0 0 8px -24px rgba(37, 32, 86, 0.2);
  background-color: var(--purpley-pink);
}

.Check-the-animations {
  width: 213px;
  height: 18px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Whats-different-section {
  background: #252055;
}

.Whats-different-wit {
  width: 272px;
  height: 58px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Whats-different-section hr {
  width: 161px;
  height: 10px;
  border-radius: 13.5px;
  background-color: #ffffff;
  margin: 0;
}

.Open-source-Communi,
.Plug-in-oriented-des,
.Controls-demonstra {
  width: 177px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Whats-different-section a {
  width: 272px;
  height: 52px;
  border-radius: 31.5px;
  box-shadow: 0 0 27px 0 rgba(37, 32, 86, 0.2);
  background-color: #ffffff;
}

.Check-the-Motorcorte {
  width: 239px;
  height: 18px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--purpley-pink);
}

.Building-a-strong-an {
  width: 150px;
  height: 162px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--blue-dark);
}

.Details-section a {
  width: 272px;
  height: 64px;
  border-radius: 31.5px;
  box-shadow: 0 0 27px 0 rgba(37, 32, 86, 0.2);
  background-color: #ffffff;
}

.Be-a-part-of-the-com {
  width: 251px;
  height: 36px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #225fb1;
}

/* .Created-section img {
  margin: ;
} */

.Created-with {
  width: 109px;
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--blue-dark);
}

.by {
  width: 21px;
  height: 19px;
  transform: rotate(-360deg);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-dark);
}

@media (min-width: 768px) {
  .side-bar {
    display: none;
  }

  .burger {
    display: none;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a {
    font-size: 14px;
    margin-right: 24px;
  }

  header nav ul li a:last-child {
    margin-right: 12px;
  }

  .The-animation {
    flex-flow: row;
    justify-content: space-between;
  }

  .animation-slider {
    order: 1;
  }

  .animation-text {
    order: 0;
  }

  .animation-headline {
    width: 238px;
    font-size: 16px;
    text-align: left;
  }

  .what-can-you-do-top {
    margin-top: 24px;
  }

  .what-you-can-do-title {
    width: 635px;
  }

  .what-can-you-do-top hr {
    width: 200px;
  }

  .Simple-syntax-attra {
    width: 510px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .main-header {
    height: 30px;
  }

  .logo-container {
    width: 240px;
  }

  .logo-text {
    height: 21px;
  }

  .main-header nav li a {
    font-size: 16px;
  }

  .what-can-you-do-article-text {
    width: 640px;
  }
  .runtime-control-article-text,
  .powerful-api-article-text {
    width: 590px;
  }
}
