@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .main-header {
    height: 30px;
  }

  .logo-container {
    width: 240px;
  }

  .logo-text {
    height: 21px;
  }

  .main-header nav li a {
    font-size: 16px;
  }

  .what-can-you-do-article-text {
    width: 640px;
  }

  .runtime-control-article-text,
  .powerful-api-article-text {
    width: 590px;
  }
}