@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .main-header nav li a {
    font-size: 16px;
  }

  main {
    margin-bottom: 160px;
  }

  .animation-section h1 {
    font-size: 40px;
  }

  .animation-slider {
    width: 427px;
  }

  .animation-section a span {
    line-height: 56px;
    color: var(--purpley-pink);
  }

  .editor {
    width: 1020px;
  }

  .explore-section h3 {
    font-size: 40px;
  }

  .explore-section a {
    width: 314px;
  }

  .explore-section a span {
    line-height: 56px;
  }

  .explore-section {
    margin-bottom: 280px;
  }

  .explore-section-title {
    margin-bottom: 260px;
  }

  .build-strong-section header h2 {
    font-size: 36px;
  }

  .build-strong-basis-section-inner>div {
    width: 257px;
  }

  figcaption h5 {
    margin-bottom: 16px;
  }

  .whats-different-section {
    margin-bottom: 275px;
  }


  .whats-different-section section {
    margin-bottom: 120px;
  }

  .whats-different-section h3 {
    font-size: 40px;
  }

  .whats-different-section a {
    width: 341px;
  }

  .whats-different-section article>div img:first-of-type {
    height: 75px;
  }

  .details-section {
    margin-bottom: 210px;
  }

  .details-section h4 {
    font-size: 40px;
  }

  .details-section a {
    width: 385px;
  }

  .details-section a span {
    line-height: 56px;
  }

  .created-section p {
    width: 858px;
  }

  footer {
    margin-bottom: 56px;
  }

  footer nav ul li {
    display: inline-block;
    margin-bottom: 0;
  }

  .bg-wave-1 {
    height: 3450px;
    background-image: url("../assets/images/bg-wave-1@3x.svg");
  }

  .wave-1 img {}

  .wave-2 {
    top: 4601px;
  }

  .wave-3 {
    bottom: -56px;
  }
}