  .side-bar {
    display: none;
  }

  .burger {
    display: none;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a:last-child {
    margin-right: 12px;
  }

  .logo-icon {
    width: 23px;
    height: 21px;
  }

  .log-text {
    width: 138px;
    height: 15px;
  }

  main {
    margin-bottom: 96px;
  }

  .editor {
    width: 100%;
    height: 373px;
  }

  .milky-way-img-container {
    background-image: linear-gradient(103deg, transparent 25%, #ffffff 23%);
  }

  .planet-earth-img-container {
    background-image: linear-gradient(103deg, #ffffff 80%, transparent 77%);
  }

  .milky-way-img {
    width: 222px;
    height: 217px;
  }

  .space-img {
    width: 100%;
  }

  .what-can-you-do-top {
    margin-top: 24px;
  }

  .what-you-can-do-title {
    width: 635px;
  }

  .what-can-you-do-top hr {
    width: 200px;
  }

  .explore-section>div {
    width: 100%;
  }

  .explore-section a {
    width: 261px;
  }

  .explore-section hr {
    width: 300px;
  }

  .build-strong-basis-section-inner {
    width: 100%;
  }

  figure {
    height: 251px;
    padding: 25px 14px 20px;
  }

  figure img {
    width: 71px;
    height: 71px;
    margin-bottom: 16px;
  }

  .whats-different-section article>div img:first-of-type {
    width: 86px;
    height: 74px;
  }

  .whats-different-section a {
    width: 341px;
  }

  .details-section a {
    width: 318px;
    line-height: 56px;
  }

  footer {
    margin-bottom: 30px;
  }

  .footer-log-icon {
    width: 23px;
    height: 21px;
  }

  .bg-wave-1 {
    height: 2750px;
    background-image: url("../assets/images/bg-wave-1@2x.svg");
  }

  .bg-wave-2 {
    top: 3773px;
    background-image: url("../assets/images/bg-wave-2@2x.svg");
  }

  .bg-wave-3 {
    bottom: -30px;
    height: 600px;
    background-image: url("../assets/images/bg-wave-3@2x.svg");
  }