@media (min-width: 768px) {
  .side-bar {
    display: none;
  }

  .burger {
    display: none;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a:last-child {
    margin-right: 12px;
  }

  .The-animation {
    flex-flow: row;
    justify-content: space-between;
  }

  .animation-headline {
    width: 238px;
    font-size: 16px;
    text-align: left;
  }

  .editor-height {
    height: 367px;
  }

  .milky-way-img-container {
    background-image: linear-gradient(103deg,
        transparent 16%,
        #ffffff 16%);
  }

  .planet-earth-img-container {
    background-image: linear-gradient(99deg,
        #ffffff 90%,
        transparent 90%);
  }

  .space-img {
    width: 55%;
    height: 156%;
    transform: rotate(90deg);
  }

  .what-can-you-do-top {
    margin-top: 24px;
  }

  .what-you-can-do-title {
    width: 635px;
  }

  .what-can-you-do-top hr {
    width: 200px;
  }

  .Simple-syntax-attra {
    width: 510px;
    margin-bottom: 8px;
  }
}