@media (min-width: 768px) {
  .side-bar {
    display: none;
  }

  .burger {
    display: none;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a:last-child {
    margin-right: 12px;
  }

  .The-animation {
    flex-flow: row;
    justify-content: space-between;
  }

  .animation-slider {
    order: 1;
  }

  .animation-text {
    order: 0;
  }

  .animation-headline {
    width: 238px;
    font-size: 16px;
    text-align: left;
  }

  .what-can-you-do-top {
    margin-top: 24px;
  }

  .what-you-can-do-title {
    width: 635px;
  }

  .what-can-you-do-top hr {
    width: 200px;
  }

  .Simple-syntax-attra {
    width: 510px;
    margin-bottom: 8px;
  }
}